<nav class="navbar" style= "background:#0C5667 !important">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    
  </a>
</nav>